[Unit]
Description=Ping Service

[Service]
ExecStart=/usr/local/bin/pingd eth0 172.16.0.80
WorkingDirectory=/bin/
Restart=always

[Install]
WantedBy=multi-user.target